[pysim_settings]
SV_config_file = /data1/XiLab/ycxia/simSV/config_test
ref_fasta=/data1/XiLab/ycxia/simSV/test_chr22_new.fa
dbsnp=/data/qfxing/sim/snp/dbsnp_138.hg19.vcf
chrome=chr22
somatic=Y 		
germline_num=10
somatic_num=10
db=N
somatic_SNP_db=''
hyp_rate=0.5
up_down_stream=50
snp_rate=0.1
indel_prob=1
min_indel_length=5
max_indel_length=15
out_prex=test_chr22_new_
sub_clone=2
sub_sub_clone=0
germ_ratio=0

